<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FlagZombie_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{0,0},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FlagZombie_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{1494,0},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FlagZombie_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{1660,0},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FlagZombie_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{1826,0},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FlagZombie_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{166,0},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FlagZombie_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{332,0},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FlagZombie_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{498,0},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FlagZombie_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{664,0},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FlagZombie_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{830,0},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FlagZombie_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{996,0},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FlagZombie_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{1162,0},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FlagZombie_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{1328,0},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FlagZombie.png</string>
            <key>size</key>
            <string>{1992,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c52e7a350abccfc78d36ce53f1745353:9647e000b39db305c8101d76a322d74f:4a8014b3838a3fb02d03358c0ad945ef$</string>
            <key>textureFileName</key>
            <string>FlagZombie.png</string>
        </dict>
    </dict>
</plist>
