<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BucketheadZombie_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{0,0},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BucketheadZombie_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{0,432},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BucketheadZombie_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{166,432},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BucketheadZombie_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{332,432},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BucketheadZombie_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{0,576},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BucketheadZombie_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{166,576},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BucketheadZombie_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{332,576},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BucketheadZombie_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{166,0},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BucketheadZombie_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{332,0},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BucketheadZombie_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{0,144},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BucketheadZombie_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{166,144},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BucketheadZombie_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{332,144},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BucketheadZombie_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{0,288},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BucketheadZombie_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{166,288},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BucketheadZombie_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{332,288},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BucketheadZombie.png</string>
            <key>size</key>
            <string>{498,720}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac3ba38a44938bc6669572a764eb12d1:875661a3a56fad8191c8dd9bbf9deed4:2d9993b4e503b17beeb47bf62bdf4a8d$</string>
            <key>textureFileName</key>
            <string>BucketheadZombie.png</string>
        </dict>
    </dict>
</plist>
