<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{0,0},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{1974,658},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{2632,658},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{3290,658},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{0,1316},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{658,1316},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{1316,1316},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{1974,1316},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{2632,1316},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{3290,1316},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{0,1974},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{658,0},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{658,1974},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{1316,1974},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{1974,1974},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{2632,1974},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{3290,1974},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{0,2632},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{658,2632},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{1316,2632},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{1974,2632},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{2632,2632},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{1316,0},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{3290,2632},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{0,3290},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{658,3290},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{1316,3290},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{1974,3290},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{2632,3290},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{3290,3290},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{0,3948},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{658,3948},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{1316,3948},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{1974,0},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{1974,3948},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{2632,3948},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{3290,3948},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{0,4606},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{658,4606},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{1316,4606},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{1974,4606},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{2632,4606},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{3290,4606},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{0,5264},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{2632,0},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{658,5264},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{3290,0},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{0,658},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{658,658},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,658}</string>
                <key>spriteSourceSize</key>
                <string>{658,658}</string>
                <key>textureRect</key>
                <string>{{1316,658},{658,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{3948,5922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00f993b4f0885c87fe0f86501700212b:3ff8db51c43df27e66d34edca71f91a9:e75714c0871c497b76d71a94e9da90fb$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
