<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>num_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{293,333}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{293,333}}</string>
                <key>sourceSize</key>
                <string>{301,395}</string>
            </dict>
            <key>num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,371},{165,328}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{165,328}}</string>
                <key>sourceSize</key>
                <string>{253,372}</string>
            </dict>
            <key>num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,371},{231,326}}</string>
                <key>offset</key>
                <string>{11,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,13},{231,326}}</string>
                <key>sourceSize</key>
                <string>{297,384}</string>
            </dict>
            <key>num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{238,367}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{238,367}}</string>
                <key>sourceSize</key>
                <string>{272,383}</string>
            </dict>
            <key>num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,750},{267,366}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{267,366}}</string>
                <key>sourceSize</key>
                <string>{279,418}</string>
            </dict>
            <key>num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,382}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{221,382}}</string>
                <key>sourceSize</key>
                <string>{261,400}</string>
            </dict>
            <key>num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{261,372}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,39},{261,372}}</string>
                <key>sourceSize</key>
                <string>{311,424}</string>
            </dict>
            <key>num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{245,377}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{245,377}}</string>
                <key>sourceSize</key>
                <string>{269,409}</string>
            </dict>
            <key>num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,765},{254,370}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{254,370}}</string>
                <key>sourceSize</key>
                <string>{270,400}</string>
            </dict>
            <key>num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,376},{260,372}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{260,372}}</string>
                <key>sourceSize</key>
                <string>{286,392}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>num.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2840827499aff3bbc804b7a11073865$</string>
            <key>textureFileName</key>
            <string>num.png</string>
        </dict>
    </dict>
</plist>
