<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ConeheadZombie_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{0,0},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ConeheadZombie_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{0,432},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ConeheadZombie_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{166,432},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ConeheadZombie_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{332,432},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ConeheadZombie_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{0,576},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ConeheadZombie_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{166,576},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ConeheadZombie_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{332,576},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ConeheadZombie_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{0,720},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ConeheadZombie_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{166,720},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ConeheadZombie_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{332,720},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ConeheadZombie_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{0,864},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ConeheadZombie_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{166,0},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ConeheadZombie_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{166,864},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ConeheadZombie_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{332,864},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ConeheadZombie_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{332,0},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ConeheadZombie_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{0,144},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ConeheadZombie_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{166,144},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ConeheadZombie_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{332,144},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ConeheadZombie_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{0,288},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ConeheadZombie_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{166,288},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ConeheadZombie_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,144}</string>
                <key>textureRect</key>
                <string>{{332,288},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ConeheadZombie.png</string>
            <key>size</key>
            <string>{498,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8a73185ff86d89a81541e1c09a1f994:9cd4310de2595321bf9855ce175b1b7f:a80cebee7636ffe5a6d2d35a4849e970$</string>
            <key>textureFileName</key>
            <string>ConeheadZombie.png</string>
        </dict>
    </dict>
</plist>
