<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>timg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{0,0},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{1974,461},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{2632,461},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{3290,461},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{0,922},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{658,922},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{1316,922},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{1974,922},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{2632,922},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{3290,922},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{0,1383},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{658,0},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{658,1383},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{1316,1383},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{1974,1383},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{2632,1383},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{3290,1383},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{0,1844},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{658,1844},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{1316,1844},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{1974,1844},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{2632,1844},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{1316,0},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{3290,1844},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{0,2305},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{658,2305},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{1316,2305},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{1974,2305},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{2632,2305},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{3290,2305},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{0,2766},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{658,2766},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{1316,2766},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{1974,0},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{1974,2766},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{2632,0},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{3290,0},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{0,461},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{658,461},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,461}</string>
                <key>spriteSourceSize</key>
                <string>{658,461}</string>
                <key>textureRect</key>
                <string>{{1316,461},{658,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>butterfly.png</string>
            <key>size</key>
            <string>{3948,3227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b487e2350b781fafd27e54d0d01d78e:66ddb1a83de1f969e1b66fe5f48f0df0:f8d4e3391b06dc4b24e6a2c543051340$</string>
            <key>textureFileName</key>
            <string>butterfly.png</string>
        </dict>
    </dict>
</plist>
