<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TallNut_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,119}</string>
                <key>spriteSourceSize</key>
                <string>{83,119}</string>
                <key>textureRect</key>
                <string>{{0,0},{83,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TallNut_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,119}</string>
                <key>spriteSourceSize</key>
                <string>{83,119}</string>
                <key>textureRect</key>
                <string>{{747,0},{83,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TallNut_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,119}</string>
                <key>spriteSourceSize</key>
                <string>{83,119}</string>
                <key>textureRect</key>
                <string>{{830,0},{83,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TallNut_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,119}</string>
                <key>spriteSourceSize</key>
                <string>{83,119}</string>
                <key>textureRect</key>
                <string>{{913,0},{83,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TallNut_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,119}</string>
                <key>spriteSourceSize</key>
                <string>{83,119}</string>
                <key>textureRect</key>
                <string>{{996,0},{83,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TallNut_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,119}</string>
                <key>spriteSourceSize</key>
                <string>{83,119}</string>
                <key>textureRect</key>
                <string>{{1079,0},{83,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TallNut_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,119}</string>
                <key>spriteSourceSize</key>
                <string>{83,119}</string>
                <key>textureRect</key>
                <string>{{83,0},{83,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TallNut_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,119}</string>
                <key>spriteSourceSize</key>
                <string>{83,119}</string>
                <key>textureRect</key>
                <string>{{166,0},{83,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TallNut_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,119}</string>
                <key>spriteSourceSize</key>
                <string>{83,119}</string>
                <key>textureRect</key>
                <string>{{249,0},{83,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TallNut_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,119}</string>
                <key>spriteSourceSize</key>
                <string>{83,119}</string>
                <key>textureRect</key>
                <string>{{332,0},{83,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TallNut_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,119}</string>
                <key>spriteSourceSize</key>
                <string>{83,119}</string>
                <key>textureRect</key>
                <string>{{415,0},{83,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TallNut_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,119}</string>
                <key>spriteSourceSize</key>
                <string>{83,119}</string>
                <key>textureRect</key>
                <string>{{498,0},{83,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TallNut_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,119}</string>
                <key>spriteSourceSize</key>
                <string>{83,119}</string>
                <key>textureRect</key>
                <string>{{581,0},{83,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TallNut_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,119}</string>
                <key>spriteSourceSize</key>
                <string>{83,119}</string>
                <key>textureRect</key>
                <string>{{664,0},{83,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TallNut.png</string>
            <key>size</key>
            <string>{1162,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66b209d1d9525dd6a14f05223cd91729:affe552ced8b561a3e506d84daf5606a:2db592bd28df24514185f3e1fab79fd2$</string>
            <key>textureFileName</key>
            <string>TallNut.png</string>
        </dict>
    </dict>
</plist>
